*{
    margin: 0px;
    padding: 0px;
}

main{
            height: 850px;
            width: 100%;
            background-color: rgb(74, 92, 92);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            gap: 25px;      
                           
        }
        form{
            height: 800px;
            width: 500px;
            padding: 65px;
            border-radius: 25px;
            border: solid black;      
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            text-align: center;
            background-color: rgb(73, 87, 97);
        }
        h1{
            text-decoration-line:underline;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        button{
            height: 45px;
            width: 85px;   
            border: solid black;
            margin-left: 40px;
            background-color: rgb(74, 87, 87);
            border-radius: 7px;
            cursor: pointer;  
            margin-left: 200px;
        }