main {
  font-family: Arial, sans-serif;
  background-color: #9a8c98;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc5b9;
}
.login {
    height: 250px;
    width: 350px;
  background: #6d4c3d;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  gap: 50px;
}
#formId{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.dashboard {
     height: 300px;
    width: 350px;
  background: rgba(54, 38, 38, 0.575);
  padding: 30px;
  border-radius: 8px;
  text-align: center;
   
}

.register {
    height: 400px;
    width: 350px;
  background: #6d4c3d;
  padding: 30px;
  border-radius: 8px;
  text-align: center; 
}

#registerForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
input {
  height: 20px;
  justify-content: center;
  width: 200px;
  border-radius: 5px;
  border: none;
}
button {
    height: 30px;
  width: 60px;
  background-color: #9a8c98;
  color: rgba(54, 38, 38, 0.575);;
  cursor: pointer;
  border-radius: 15px;
  
}

button:hover {
  background-color: #c08552;
  transform: scale(1.2);
}
a{
     color: #c08552;
}
.dashboard button{
   height: 30px;
  width: 60px;
  background-color: #9a8c98;
  color: rgba(148, 25, 25, 0.575);
  cursor: pointer;
  border-radius: 15px;
}
.dashboard button a{
  color:#6d4c3d
}
.dashboard button :hover{
  color: #6d4c3d;
  transform: scale(1.2);
}