*{
    margin: 0px;
    padding: 0px;
}

.buttons{
    height:300px;
    width: 100%;
    justify-items: center;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}
        #bt1{
            height: 15px;
            width: 50px;
            border: solid black;
            padding: 5px;
            background-color: cadetblue;
            border-radius: 7px;
            cursor: pointer;  
        }
        #bt2{
            height: 15px;
            width: 60px;
            border: solid black;
            padding: 5px;
            background-color: cadetblue;
            border-radius: 7px;
            cursor: pointer;
        }
        #bt3{
            height: 15px;
            width: 50px;
            border: solid black;
            padding: 5px;
            background-color: cadetblue;
            border-radius: 7px;
            cursor: pointer;
        }
        #bt4{
            height: 15px;
            width: 50px;
            border: solid black;
            padding: 5px;
            background-color: cadetblue;
            border-radius: 7px;
            cursor: pointer;
        }
#sampleButton{
         height: 25px;
            width: 60px;
            border: solid black;
            padding: 5px;
            background-color: rgb(211, 131, 140);
            border-radius: 7px;
            cursor: pointer;
     }
     #toggleButton{
        height: 25px;
            width: 80px;
            margin: 100px 500px;
            border: solid black;
            padding: 5px;
            background-color: rgb(97, 46, 129);
            border-radius: 7px;
            cursor: pointer;
     }

     .print{
         height: 100px;
            width: 225px;
            margin: 50px 50px;
            display: flex;
            /* flex-direction: row; */
            flex-direction: column;
            gap: 10px;
            border: solid black;
            padding: 5px;
            background-color: rgb(22, 97, 158);
            border-radius: 7px;
            cursor: pointer;
     }
   .printing{
     height: 100px;
            width: 250px;
            margin: 50px 50px;
   }